@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/47c7f9c48f3d93d5daa15b4eaef5f318.eot);
    src: url(/assets/fonts/47c7f9c48f3d93d5daa15b4eaef5f318.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/68c32494a74fd9f555ce87f0df593e82.woff2) format('woff2'),url(/assets/fonts/748f32d92cf483f2eb5b46ca95fc4e40.woff) format('woff'),url(/assets/fonts/7a8ce4ce3830de1cad8102c5f6184fa9.ttf) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/f668b5fa32a33b0a58d3ca61aea3aac2.eot);
    src: url(/assets/fonts/f668b5fa32a33b0a58d3ca61aea3aac2.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/ff353ba2acf2523dd782f942ab85e558.woff2) format('woff2'),url(/assets/fonts/7e5c1289975b413a1f109bc490d7508c.woff) format('woff'),url(/assets/fonts/e7ef286ad1a9ecdc146bcfe51416ee6e.ttf) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/b3107e85ab4cd06b379624baa2ad56d1.eot);
    src: url(/assets/fonts/b3107e85ab4cd06b379624baa2ad56d1.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/cdf8f7e0b08b36a145ba0e0312234567.woff2) format('woff2'),url(/assets/fonts/21996b67bae94dde1afea1865865f8ce.woff) format('woff'),url(/assets/fonts/a83daff6a3fcaf7cf89f771c940e401f.ttf) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/0b44836d8724174b5011002b718d485c.eot);
    src: url(/assets/fonts/0b44836d8724174b5011002b718d485c.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/3ed3f94e5f485aef5592b69517774655.woff2) format('woff2'),url(/assets/fonts/1c7f779da0c3e054b7494cd74558f520.woff) format('woff'),url(/assets/fonts/29002bf5cccc9043dd777970f6241bfe.ttf) format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url(/assets/fonts/419a8e8ba3bcedc4286525090dbe3aea.eot);
    src: url(/assets/fonts/419a8e8ba3bcedc4286525090dbe3aea.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/b00f331977210f9e7e870973def0f806.woff2) format('woff2'),url(/assets/fonts/1792e553f994b1a4630105f879a0c4b3.woff) format('woff'),url(/assets/fonts/928d3602b635877cf1ef6f8021f34268.ttf) format('truetype');
}

